@import "colores.scss";
@import "fuentes.scss";
@mixin titulos($size, $color) {
    font-size: $size;
    color: $color;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.Nav-visible.animate__animated.animate__fadeIn {
    animation-delay: 0.5s;
}

.Nav-visible a{
    @include titulos(35px, white);
    @extend .font-artemis;
    position: relative;
    &.active::after{
        width: 80%;
    }
    &::after {
        display: block;
        content: "";
        width: 0%;
        background: white;
        height: 5px;
        bottom: 0;
        left: 10%;
        position: absolute;
    }
    &:hover::after,
    &:active::after,
    &:focus::after {
        transition: 0.3s;
        width: 80%;
        cursor: pointer;
    }
}


.grid-home-item {
    text-align: justify;
}

.home-section, 
.Home_Nuestro,
.galery-section,
.section-recetas,
.sec_contact {
    background-image: url(https://images.adsttc.com/media/images/5c04/7566/08a5/e5c7/1100/01c2/large_jpg/12247681_10156151865110702_6739505303249166555_o.jpg?1543796058);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description {
    font-size: 30px;
}

.aclaraciones {
    text-align: justify;
}
.autor {
    text-align: justify;
}


/* Nuestro gin */

.ingredientes {
    @include titulos(50px, white);
    @extend .font-artemis;
}

/* Recetas */

#Titulo {
    @include titulos(40px, white);
    @extend .font-artemis;
}

.negroni {
    @extend #Titulo
}

/* Galería */
.Video iframe{
    width:420
}

/* Recetas */
.titulo-contacto {
    @extend .ingredientes
}


@media screen and (max-width: 1200px) {
    .Nav-visible a{
        font-size: 23px;
    }
    .description {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .Nav-visible a{
        font-size: 18px;
    }
    .description {
        font-size: 20px;
    }
}


@media screen and (max-width: 767px) {
    .description {
        font-size: 20px;
    }
    .negroni {
        font-size: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .description {
        font-size: 18px;
    }
    .aclaraciones {
        font-size: 70%;
    }
    .autor {
        font-size: 70%;
    }
}

@media screen and (max-width: 470px) {
    .Video iframe {
        width: 95%;
    }

    div textarea {
        width: 100%;
    }
}