* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Acá va el CSS del header */
body {
    padding: 100px 0px 0px;
}
body::-webkit-scrollbar,
header::-webkit-scrollbar {
    width: 7px;
    background-color: black;
    color: white;
}


body::-webkit-scrollbar-thumb:hover{
    width: 20px;
    transition: 00.5s;
}

header {
    background-color: rgba(17,21,23,255);
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.menu {
    width: 100vw;
    display: flex;
    justify-content:space-between;
}
.Artemis_Logo {
    height: 100px;
    padding: 0px 15px;
}
ul.Nav {
    padding: 0px 20px;
}
ul.Nav li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
    width: max-content;
}
ul.Nav li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    padding: 10px 10px 0px 10px;
    position: relative;
}
.Nav a::after{
    display: block;
    content: "";/* el content lo agrego para que se active el pseudoelemento, si no, no muestra nada */
    width: 0%;
    background: #ffffff;
    height: 5px;
    bottom: 0;
    position: absolute;
}
.Nav a:hover::after,
.Nav a:active::after, 
.Nav a:focus::after {
    transition: 0.3s;
    width: 100%;
    color: #ababab;
    cursor: pointer;
}
.Nav a.active::after {
    width: 100%;
}

.Nav-visible.animate__animated.animate__fadeIn {
    animation-delay: 0.5s;
}
.Nav-responsive { 
    transform: scale(0);
    position: fixed;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;

}
.Nav-responsive ul a {
    text-decoration: none;
    color: white;
}
.Nav-responsive ul {
    list-style: none;
    font-size: 50px;
}
.Nav-responsive:target {
    display: flex;
    background-color: rgba(17,21,23,0.8);
    height: 100%;
    width: 100%;
    z-index: 100;
    transform: scale(1);

}

section.Home_section,
.section-recetas {
    background: url(../Images/Artemis_botella.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vw;
    margin: 0px;
    padding: 0px;
}

#sec_galery, 
#sec_contact {
    background: url(../Images/Artemis_botella.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100 vh;
    margin: 0px;
    padding: 0px 0px 10px 0px;
    overflow: auto;
}
.boton {
    background: none;
    border: none;
    font-size: 30px;
    line-height: 100px;
    padding: 0 20px;
    display: none;
    transition: all 0.5s;
}

.boton:hover {
    transform: scale(1.1);
}

.boton a {
    text-decoration: none;
    color: white;
}

section,
main.grid-container2 {
    background-image: url(../Images/Artemis_botella.jpg);
    height: calc(100vh - 166px);
    background-size: cover;
    background-position: top;
    
}


/* Acá va el CSS del footer */
footer {
    background-color: rgba(17,21,23,255);
    height: max-content;
    position: relative;
}
.social-media,
.aclaraciones {
    display: flex;
}
.aclaraciones {
    float: left;
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    width: 50%;
}
.social-media { 
    float:right;
}
.fa-instagram { 
    color: white;
    font-size: 40px;
    padding: 10px;
    margin-right: 5px;
    transition: .2s linear;
}
.fa-instagram:hover { 
    transform: scale(1.1);
}
#autor,
#copyright {
    padding: 0px 10px;
    position: relative;
    color: white;
    display: flex;
    clear:left;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 10px;
}
/* Acá va el CSS del index con Grid */

.grid-home {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr) 1fr;
    grid-template-rows: repeat(5, max-content);
    gap: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.grid-home-item {
    border-color: #2e2e2e;
    border-style: solid;
    background-color: rgba(17,21,23,0.8);
    color: white;
}

.grid-home-item.description {
    grid-column: 2 / 5;
    margin-top: 20px;
    font-size: 40px;
    text-align: justify;
    padding: 10px;
}

.grid-home-item.botella {
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.grid-home-item.botella span{
    font-size: 50px;
}

.grid-home-item.botellaIMG {
    grid-column: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-home-item.botellaIMG img{
    width: 80%;    
}

.grid-home-item.cata {
    grid-column: 2 / 5;
}

.grid-home-item.ingredientes {
    grid-column: 2 / 5;
}

.grid-home-item.contacto {
    grid-column: 2 / 5;
}

.grid-home-item.ingredientes {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, max-content);
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 5px 60px;
}

.grid-ingredientes {
    color: black;

}
.grid-ingredientes img{ 
    width: 100px;
}



/* Acá va el CSS de Nuestro gin con Grid*/

.grid-container2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, max-content);
    grid-gap: 10px;
    justify-content: center;
}

.grid-item2 {
    background-color: rgba(17,21,23,0.8);
    border-style: solid;
}

.grid-item2 a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    justify-content: center;
}

.grid-item2 a:hover {
    color: rgb(114, 114, 114);
    font-size: 22px;
}

.grid-item2:first-child {
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.grid-item2.ingredientes2 {
    grid-row-start: 3;
}

.grid-item2.ingredientes3 {
    grid-row-start: 4;
}

/* Acá va el CSS de la galería */
.Video {
    position: block;
    text-align: center;
}

.Video h2 {
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
}

.galeria_principal {
    background-color: rgba(17,21,23,0.8);
    width: 80%;
    margin:0px auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px;
}
.galeria_principal img,
.galeria_principal video {
    padding: 10px 2px;
    transition: 0.5s;
    overflow: hidden;
}

.galeria_principal a:hover img,
.galeria_principal a:hover video{
    transform: scale(1.1);
}

.galeria_target {
    transform: scale(0);
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 1001;
}
.galeria_target img, 
.galeria_target video{
    max-height: 70%;
}

.galeria_target:target {
    transform: scale(1);
}

.close-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: rgba(17,21,23,0.8);
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    top: 40px;
    right: 40px;
}

.flecha {
    color: white;
    background-color: rgba(17,21,23,0.8);
    padding: 10px 15px;
    border-radius: 50%;
    margin: 10px;
    font-size: 30px;
    transition: 0.2s linear;
}

.flecha:hover {
    transform: scale(1.05);
}

/* Acá va el CSS de RECETAS con GRID */
.grid-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(6, max-height);
    padding-top: 20px;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    justify-content: space-between;
}
.grid-item {
    background-color: rgba(17,21,23,0.8);
    border: 5px solid blue;
    padding: 5px 10px;
    color: white;
}
.grid-item ul {
    padding-left: 10px;
}

.grid-item img{
    width: 100%;
}

.grid-item span {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px
}

#fotorec1,
#fotorec2,
#fotorec3,
#fotorec4,
#fotorec5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item:first-child {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}


/* Acá va el CSS del Form */

.Cont_titulo {
    padding-top: 20px;
}
.titulo {
    margin: 0px auto;
    padding: 1px 5px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: white;
    width: max-content;
    background-color: rgba(17,21,23,0.8);
}
.formulario {
    margin: 0px auto;
    width: 600px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    line-height: 200%;
    background-color: rgba(17,21,23,0.8);
}
.Main_form {
    text-align: center;
}
.Main_form input {
    display: block;
    margin: 0px auto;
}

.radio {
    text-align: center;
    padding-top: 10px;
}

.radio label {
    padding-right: 10px;
}

.fselect {
    text-align: center;
    margin: 0px auto;
    display: flex;
    width: max-content;
}
#fselect {
    margin-left: 10px;
}

#fcoments {
    display: block;
    margin: 10px auto;
    font-family: sans-serif;
    padding: 5px
}

.fcheck {
    text-align: center;
}
.fcheck input{
    margin-left: 5px;
}

.botones {
    margin: 0px auto;
    width: max-content;
}

.botones input{
    margin: 0px 5px;
    padding: 5px 10px;
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    body {
        padding: 80px 0px 0px;
    }
    .Artemis_Logo {
        height: 80px;
        padding: 0px 10px;
    }
    ul.Nav {
        padding: 0px 15px;
    }
    ul.Nav li {
        line-height: 80px;
    }
    ul.Nav li a{
        font-size: 24px;
        border-radius: 8px;
        padding: 8px
    }    
    .grid-home-item.botella span{
        font-size: 40px;
    }
    .grid-home-item.description {
        font-size: 30px;
    }
    
    .grid-ingredientes img{ 
        width: 60px;
    }
    .grid-ingredientes { 
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 50px 0px 0px;
    }
    .Artemis_Logo {
        height: 50px;
        padding: 0px 10px;
    }
    ul.Nav {
        padding: 0px 15px;
    }
    ul.Nav li {
        line-height: 50px;
    }
    ul.Nav li a{
        font-size: 14.5px;
        border-radius: 8px;
        padding: 8px
    }
    
    .grid-home-item.botella span{
        font-size: 20px;
    }
    .grid-home-item {
        font-size: 15px;
    }
    .grid-home-item.description {
        font-size: 20px;
    }
    .grid-ingredientes { 
        font-size: 15px;
    }
    
}

@media screen and (max-width: 600px) {
    body {
        padding-top: 50px;
    }
    .Artemis_Logo {
        height: 50px;
        padding: 0px 5px;
    }
    ul.Nav {
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        background-color: #2e2e2e;
        position: fixed;
        left: 0px;
        top: 50px;
        width: 100%;
        height: calc(100vh-50px);
        align-items: center;
        overflow-y: auto;
        left: 100%;
        transition: left 0.5s;
    }
    ul.Nav li a{
        font-size: 12px;
        border-radius: 5px;
        padding: 2px
    }
    .Nav a:hover,
    .Nav a:active, 
    .Nav a:focus {
        text-decoration: none;
        color: #ababab;
        border-style: none;
    }
    .Nav a.active {
        text-decoration: none;
        color: #ababab;
    }
    .boton {
        line-height: 50px;
        display: block;
    }
    .nav.visible {
        left: 0%;
    }
        
    .grid-home-item.botella span{
        font-size: 15px;
    }
    .grid-home-item {
        font-size: 15px;
    }
    .grid-home-item.description {
        font-size: 10px;
    }
    .grid-ingredientes { 
        font-size: 8px;
    }
    .grid-ingredientes img{ 
        width: 40px;
    }

    .aclaraciones {
        font-size: 13px;
        padding: 5px;
    }
    .fa-instagram { 
        font-size: 35px;
    }
}